# python
__pycache__/
*.pyc
.venv/

# generated grpc/python
finam_bot/gen/
finam_bot/generated/

# local junk
.DS_Store
0

# secrets
.env
*.env
**/env
**/*token*
**/*secret*
# generated
finam_bot/gen/
finam_bot/generated/

# vendored deps / big stuff
vendor/
proto_src/google/
proto_src/protoc-gen-openapiv2/

# local
.idea/
finam_bot/data/
trades.csvgo-finam-grpc/
go-finam-grpc/
trades.csv

# secrets
.env
**/.env

# grpc build deps
finam-trade-api/
googleapis/
proto/
protoc-gen-openapiv2/
.venv
.grpc_tmp
finam_bot/grpc_api
.env